// ! module1, task1
// point 1
.js-menu-link {
  &::after {
    transition: width 0.4s ease-out;
    right: 0;
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}

// point 2
.social-block__toggler:before {
  transition: all 0.2s ease-out;
}

.social-block:hover > .social-block__toggler:not(:hover) {
  &::before {
    transition: all 0.2s ease-out;
    background-color: $c-purple;
    border: 2px solid $c-purple;
  }
  svg {
    transition: all 0.2s ease-out;
    color: $c-light;
  }
}

.social-block__list {
  li {
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.1s ease-out;
    transition-delay: 0s;
    :hover {
      transition: all 0.2s ease-out;
    }
  }
}

.social-block:hover {
  .social-block__list {
    li {
      transform: translateY(0px);
      transition: all 0.4s ease-out;
      opacity: 1;
      &:nth-child(2) {
        transition-delay: 0.05s;
      }
      &:nth-child(3) {
        transition-delay: 0.1s;
      }
    }
  }
}

// point 3
.intro__message {
  animation: intro-message 1.2s;
}

@keyframes intro-message {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// point 4
.swiper-slide {
  .slider__item-text {
    transition: all 0.4s ease-out;
    transform: translateX(30px);
    opacity: 0;
  }
}

.swiper-slide-active,
.swiper-slide-next {
  .slider__item-text {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.4s ease-out 0;
  }
}

.swiper-slide-next {
  .slider__item-text {
    transition-delay: 1s;
  }
}

.swiper-slide-active {
  .slider__item-text {
    transition-delay: 0.5s;
  }
}

.swiper-slide-prev {
  .slider__item-text {
    transform: translateX(0);
  }
}

// point 5
.form {
  justify-content: flex-end;
  .form__field {
    animation: form__field 0.6s ease-in;
  }
  .form__button {
    flex-grow: 0;        
  }
}

@keyframes form__field {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 21rem);
  }
}

.screen--hidden {
  .form .form__field::placeholder {
    opacity: 0;
    transition: opacity 0.5s 0.5s;
  }
}
.screen--show {
  .form .form__field {
    opacity: 1;
    transition: opacity 0.5s 0.5s;
  }
}

// ! module 1, task 2
$onLoad-transition: all 0.6s cubic-bezier(0.19, 1.03, 0.99, 1);

.page-header {
  &__logo {
    transition: $onLoad-transition;
    transform: translateX(-20px);
    opacity: 0;
  }

  &__nav {
    transition: $onLoad-transition;
    opacity: 0;

    .js-menu-link.active::after {
      transition: $onLoad-transition;
      right: 0;
      width: 0;
    }
  }
}

.screen__footer {
  transform: translateY(30px);
  transition: $onLoad-transition;
}

.social-block__toggler {
  &::before {
    transition: all 0.4s cubic-bezier(0.78, 0.46, 0.46, 1.91);
    width: 0;
    height: 0;
  }
}

body.onload {
  .page-header {
    &__logo {
      transform: translateX(0);
      opacity: 1;
    }

    &__nav {
      opacity: 1;
      .js-menu-link.active::after {
        width: 100%;
        left: 0;
      }
    }
  }

  .screen__footer {
    transform: translateY(0);
  }

  .social-block__toggler {
    &::before {
      width: 100%;
      height: 100%;
    }
  }
}

// ! module 1, task 3
.background-page {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: $c-dark;
  transition: opacity 0.3s ease-in, top 0s 1s;
  z-index: 10;
  opacity: 0;
}

.background-page.active {
  top: 0;
  opacity: 1;
  transition: top 0.3s ease-out;
}

// ! module 2, task 1
.rules__list {
  .rules__item {
    &::before {
      animation: rules__item-before-move 0.4s cubic-bezier(0.83, 0.23, 0.41, 1.7) backwards;
    }
    p {
      animation: rules__item-p-move 0.3s ease-in backwards;
    }

    &:nth-child(1) {
      &::before {
        animation-delay: 1s;
      }
      p {
        animation-delay: 1.1s;
      }
    }
    &:nth-child(2) {
      &::before {
        animation-delay: 1.2s;
      }
      p {
        animation-delay: 1.3s;
      }
    }
    &:nth-child(3) {
      &::before {
        animation-delay: 1.4s;
      }
      p {
        animation-delay: 1.5s;
      }
    }
    &:nth-child(4) {
      &::before {
        animation-delay: 1.6s;
      }
      p {
        animation-delay: 1.7s;
      }
    }
  }
}

@keyframes rules__item-before-move {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rules__item-p-move {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.rules__link {
  &::before {
    left: auto;
    right: 0;
    transform: translate(0%, -50%);
    animation: rules__link-before-move 0.25s ease-in backwards 1.9s;
  }
  span {
    animation: rules__link-text-move 0.3s ease-in backwards 2.1s;
  }
}

@keyframes rules__link-before-move {
  0% {
    opacity: 0;
  }
  1% {
    width: 30%;
    opacity: 1;
  }
  to {
    width: 100%;
  }
}

@keyframes rules__link-text-move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// ! module 2, task 2
.text__word {
  margin: 0 5px;
  display: inline-block;
  overflow: hidden;
}

.text__word span {
  display: inline-block;
  transform: translateY(100%);
  box-sizing: border-box;
  line-height: 120%;
  will-change: transform;
}

.intro__title-active .text__word > span,
.slider__item-title-active .text__word > span,
.prizes__title-active .text__word > span,
.rules__title-active .text__word > span,
.game__title-active .text__word > span,
.intro__date-active .text__word > span {
  transform: translateY(0);
}

.result__image {
  flex-direction: row;
  transform: translate(0, 12%);
  width: 100%;
  picture {
    position: absolute;
    height: auto;
    &.leaf-blue-2 {
      transform: translate(-50%, 20%) rotate(0deg);
      width: 15%;
      animation: leaf-blue-2-animate 3s linear;
      transform-origin: right center;
    }
    &.flamingo {
      z-index: 15;
      width: 12%;
      transform: translate(-18%, 20%);
      animation: flamingo-animate 1.5s linear, flamingo-done-animate 3s linear infinite 1.5s;
      transform-origin: center bottom;
    }
    &.suitcase {
      width: 20%;
      z-index: 10;
      transform: rotate(-10deg) translate(5%, 0);
      animation: suitcase-animate 0.5s cubic-bezier(0.17, 0.67, 0.31, 1.25);
    }
    &.leaf-blue-1 {
      transform: translate(60%, -20%);
      width: 15%;
      animation: leaf-blue-1-animate 3s linear;
      transform-origin: left center;
    }
    &.leaf-green {
      transform: translate(60%, 10%);
      width: 20%;
      animation: leaf-green-animate 3s linear;
      transform-origin: left center;
    }
  }
}

@keyframes suitcase-animate {
  0% {
    transform: rotate(-10deg) translate(5%, 100%) scale(0);
  }
  100% {
    transform: rotate(-10deg) translate(5%, 0);
  }
}
@keyframes leaf-blue-2-animate {
  0% {
    transform: translate(-50%, 20%) rotate(40deg);
    opacity: 0;
  }
  15% {
    transform: translate(-50%, 20%) rotate(40deg);
    opacity: 0;
  }
  30% {
    transform: translate(-50%, 20%) rotate(-10deg);
    opacity: 1;
  }
  40% {
    transform: translate(-50%, 20%) rotate(10deg);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, 20%) rotate(-7deg);
    opacity: 1;
  }
  65% {
    transform: translate(-50%, 20%) rotate(7deg);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, 20%) rotate(-3deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 20%) rotate(0deg);
    opacity: 1;
  }
}
@keyframes leaf-blue-1-animate {
  0% {
    transform: translate(60%, -20%) rotate(-30deg);
    opacity: 0;
  }
  17% {
    transform: translate(60%, -20%) rotate(-30deg);
    opacity: 0;
  }
  32% {
    transform: translate(60%, -20%) rotate(10deg);
    opacity: 1;
  }
  42% {
    transform: translate(60%, -20%) rotate(-10deg);
    opacity: 1;
  }
  52% {
    transform: translate(60%, -20%) rotate(7deg);
    opacity: 1;
  }
  67% {
    transform: translate(60%, -20%) rotate(-7deg);
    opacity: 1;
  }
  90% {
    transform: translate(60%, -20%) rotate(4deg);
    opacity: 1;
  }
  100% {
    transform: translate(60%, -20%) rotate(0deg);
    opacity: 1;
  }
}
@keyframes flamingo-animate {
  0% {
    transform: translate(-18%, 150%) rotate(0);
    opacity: 0;
  }
  25% {
    transform: translate(-18%, 10%) rotate(10deg);
    opacity: 1;
  }
  100% {
    transform: translate(-18%, 20%) rotate(0deg);
    opacity: 1;
  }
}
@keyframes flamingo-done-animate {
  0% {
    transform: translate(-18%, 20%) rotate(0deg);
  }
  50% {
    transform: translate(-18%, 17%) rotate(5deg);
  }
  100% {
    transform: translate(-18%, 20%) rotate(0deg);
  }
}
@keyframes leaf-green-animate {
  0% {
    transform: translate(60%, 10%) rotate(-30deg);
    opacity: 0;
  }
  18% {
    transform: translate(60%, 10%) rotate(-30deg);
    opacity: 0;
  }
  30% {
    transform: translate(60%, 10%) rotate(5deg);
    opacity: 1;
  }
  45% {
    transform: translate(60%, 10%) rotate(-5deg);
    opacity: 1;
  }
  60% {
    transform: translate(60%, 10%) rotate(3deg);
    opacity: 1;
  }
  73% {
    transform: translate(60%, 10%) rotate(-3deg);
    opacity: 1;
  }
  87% {
    transform: translate(60%, 10%) rotate(1deg);
    opacity: 1;
  }
  100% {
    transform: translate(60%, 10%) rotate(0deg);
    opacity: 1;
  }
}
