// ! module1, task1
// point 1
.js-menu-link {
  &::after {
    transition: width 0.4s ease-out;
    right: 0;
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}

// point 2
.social-block__toggler:before {
  transition: all 0.2s ease-out;
}

.social-block:hover > .social-block__toggler:not(:hover) {
  &::before {
    transition: all 0.2s ease-out;
    background-color: $c-purple;
    border: 2px solid $c-purple;
  }
  svg {
    transition: all 0.2s ease-out;
    color: $c-light;
  }
}

.social-block__list {
  li {
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.1s ease-out;
    transition-delay: 0s;
    :hover {
      transition: all 0.2s ease-out;
    }
  }
}

.social-block:hover {
  .social-block__list {
    li {
      transform: translateY(0px);
      transition: all 0.4s ease-out;
      opacity: 1;
      &:nth-child(2) {
        transition-delay: 0.05s;
      }
      &:nth-child(3) {
        transition-delay: 0.1s;
      }
    }
  }
}

// point 3
.intro__message {
  animation: intro-message 1s;
}

@keyframes intro-message {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  70% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// point 4
.swiper-slide {
  .slider__item-text {
    transition: all 0.4s ease-out;
    transform: translateX(30px);
    opacity: 0;
  }
}

.swiper-slide-active,
.swiper-slide-next {
  .slider__item-text {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.4s ease-out 0;
  }
}

.swiper-slide-next {
  .slider__item-text {
    transition-delay: 1s;
  }
}

.swiper-slide-active {
  .slider__item-text {
    transition-delay: 0.5s;
  }
}

.swiper-slide-prev {
  .slider__item-text {
    transform: translateX(0);
  }
}

// point 5
.form {
  justify-content: flex-end;
  .form__field {
    animation: form__field 0.6s ease-in;
  }
  .form__button {
    flex-grow: 0;
  }
}

@keyframes form__field {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 21rem);
  }
}

// ! module 1, task 2
$onLoad-transition: all 0.6s cubic-bezier(.19,1.03,.99,1);

.page-header {
  &__logo {
    transition: $onLoad-transition;
    transform: translateX(-20px);
    opacity: 0;
  }

  &__nav {
    transition: $onLoad-transition;
    opacity: 0;

    .js-menu-link.active::after {
      transition: $onLoad-transition;
      right: 0;
      width: 0;
    }
  }
}

.screen__footer {
  transform: translateY(30px);
  transition: $onLoad-transition;
}

.social-block__toggler {
  &::before {
    transition: all 0.4s cubic-bezier(.78,.46,.46,1.91);
    width: 0;
    height: 0;
  }
}

body.onload {
  .page-header {
    &__logo {
      transform: translateX(0);
      opacity: 1;
    }

    &__nav {
      opacity: 1;
      .js-menu-link.active::after {
        width: 100%;
        left: 0;
      }
    }
  }

  .screen__footer {
    transform: translateY(0);
  }

  .social-block__toggler {
    &::before {
      width: 100%;
      height: 100%;
    }
  }
}
