// ! module1, task1
// point 1
.js-menu-link {
  &::after {
    transition: width 0.4s ease-out;
    right: 0;
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}

// point 2
.social-block__toggler:before {
  transition: all 0.2s ease-out;
}

.social-block:hover > .social-block__toggler:not(:hover) {
  &::before {
    transition: all 0.2s ease-out;
    background-color: $c-purple;
    border: 2px solid $c-purple;
  }
  svg {
    transition: all 0.2s ease-out;
    color: $c-light;
  }
}

.social-block__list {
  li {
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.1s ease-out;
    transition-delay: 0s;
    :hover {
      transition: all 0.2s ease-out;
    }
  }
}

.social-block:hover {
  .social-block__list {
    li {
      transform: translateY(0px);
      transition: all 0.4s ease-out;
      opacity: 1;
      &:nth-child(2) {
        transition-delay: 0.05s;
      }
      &:nth-child(3) {
        transition-delay: 0.1s;
      }
    }
  }
}

// point 3
.intro__message {
  animation: intro-message 1s;
}

@keyframes intro-message {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  70% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// point 4
.swiper-slide {
  .slider__item-text {
    transition: all 0.4s ease-out;
    transform: translateX(30px);
    opacity: 0;
  }
}

.swiper-slide-active,
.swiper-slide-next {
  .slider__item-text {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.4s ease-out 0;
  }
}

.swiper-slide-next {
  .slider__item-text {
    transition-delay: 1s;
  }
}

.swiper-slide-active {
  .slider__item-text {
    transition-delay: 0.5s;
  }
}

.swiper-slide-prev {
  .slider__item-text {
    transform: translateX(0);
  }
}

// point 5
.form {
  justify-content: flex-end;
  .form__field {
    animation: form__field 0.6s ease-in;
  }
  .form__button {
    flex-grow: 0;
  }
}

@keyframes form__field {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 21rem);
  }
}

// ! module 1, task 2
$onLoad-transition: all 0.6s cubic-bezier(0.19, 1.03, 0.99, 1);

.page-header {
  &__logo {
    transition: $onLoad-transition;
    transform: translateX(-20px);
    opacity: 0;
  }

  &__nav {
    transition: $onLoad-transition;
    opacity: 0;

    .js-menu-link.active::after {
      transition: $onLoad-transition;
      right: 0;
      width: 0;
    }
  }
}

.screen__footer {
  transform: translateY(30px);
  transition: $onLoad-transition;
}

.social-block__toggler {
  &::before {
    transition: all 0.4s cubic-bezier(0.78, 0.46, 0.46, 1.91);
    width: 0;
    height: 0;
  }
}

body.onload {
  .page-header {
    &__logo {
      transform: translateX(0);
      opacity: 1;
    }

    &__nav {
      opacity: 1;
      .js-menu-link.active::after {
        width: 100%;
        left: 0;
      }
    }
  }

  .screen__footer {
    transform: translateY(0);
  }

  .social-block__toggler {
    &::before {
      width: 100%;
      height: 100%;
    }
  }
}

// ! module 1, task 3
.background-page {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: $c-dark;
  transition: opacity 0.3s ease-in, top 0s 1s;
  z-index: 10;
  opacity: 0;
}

.background-page.active {
  top: 0;
  opacity: 1;
  transition: top 0.3s ease-out;
}

// ! module 2, task 1
.rules__list {
  .rules__item {
    &::before {
      animation: rules__item-before-move 0.4s cubic-bezier(0.83, 0.23, 0.41, 1.7) backwards;
    }
    p {
      animation: rules__item-p-move 0.3s ease-in backwards;
    }

    &:nth-child(1) {
      &::before {
        animation-delay: 1s;
      }
      p {
        animation-delay: 1.1s;
      }
    }
    &:nth-child(2) {
      &::before {
        animation-delay: 1.2s;
      }
      p {
        animation-delay: 1.3s;
      }
    }
    &:nth-child(3) {
      &::before {
        animation-delay: 1.4s;
      }
      p {
        animation-delay: 1.5s;
      }
    }
    &:nth-child(4) {
      &::before {
        animation-delay: 1.6s;
      }
      p {
        animation-delay: 1.7s;
      }
    }
  }
}

@keyframes rules__item-before-move {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rules__item-p-move {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.rules__link {
  &::before {
    left: auto;
    right: 0;
    transform: translate(0%, -50%);
    animation: rules__link-before-move 0.25s ease-in backwards 1.9s;
  }
  span {
    animation: rules__link-text-move 0.3s ease-in backwards 2.1s;
  }
}

@keyframes rules__link-before-move {
  0% {
    opacity: 0;
  }
  1% {
    width: 30%;
    opacity: 1;
  }
  to {
    width: 100%;
  }
}

@keyframes rules__link-text-move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
